<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <!-- Agrega aquí tus enlaces a CSS si los necesitas -->
</head>
<body>
    <h1>Restablecer contraseña</h1>
    <p>Por favor, ingresa tu dirección de correo electrónico para restablecer tu contraseña.</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enviar correo de restablecimiento de contraseña</button>
    </form>
    <!-- Agrega aquí cualquier otro contenido necesario, como mensajes de error -->
</body>
</html>

