{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="website icon" href="{% static 'image/image_home/home.png' %}">
    <title>Traviesos</title>
</head>
<body>
        <div class="square bg-orange-100 w-36 h-36 absolute top-1/2 rotate-45 rounded left-20 hidden lg:block"></div>
        <div class="square bg-orange-100 w-12 h-12 absolute bottom-1/4 rotate-45 rounded left-20 hidden lg:block"></div>
        <div class="square bg-orange-100 w-12 h-12 absolute bottom-1/3 rotate-45 rounded left-56 hidden lg:block"></div>
        <div class="square bg-orange-100 w-12 h-12 absolute bottom-1/2 rotate-45 rounded left-56 hidden lg:block"></div>

        <div class="square bg-orange-100 w-36 h-36 absolute top-1/3 rotate-45 rounded right-20 hidden lg:block"></div>
        <div class="square bg-orange-100 w-12 h-12 absolute bottom-1/3 rotate-45 rounded right-20 hidden lg:block"></div>
        <div class="square bg-orange-100 w-12 h-12 absolute top-1/5 rotate-45 rounded right-56 hidden lg:block"></div>
        <div class="square bg-orange-100 w-12 h-12 absolute top-1/2 rotate-45 rounded right-56 hidden lg:block"></div>
        <div class="bg-orange-50 grid grid-cols-2 items-center mt-72 border-2 border-orange-200 rounded-md mx-96 shadow-md px-12">
            <div>
                <h1 class="fs-3">Crea una cuenta</h1>
                <p class="mt-2">para Iniciar sesión</p>
            </div>
        <div class="">
        <div class="text-justify mt-8">
            <form class="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.username.id_for_label }}">Usuario:</label><br>
                    <input type="text" name="{{ form.username.name }}" id="{{ form.username.id_for_label }}" class="mt-2 border-2 border-orange-200 px-2 py-1 rounded-md focus:outline-none focus:ring-orange-400 focus:border-orange-400 w-1/2" placeholder="Ingresa tu nombre de usuario">
                </div>
                <div class="form-group">
                    <label for="{{ form.email.id_for_label }}">Correo Electrónico:</label><br>
                    <input type="email" name="{{ form.email.name }}" id="{{ form.email.id_for_label }}" class="mt-2 border-2 border-orange-200 px-2 py-1 rounded-md focus:outline-none focus:ring-orange-400 focus:border-orange-400 w-1/2" placeholder="Correo electrónico válido">
                </div>
                <div class="form-group">
                    <label for="{{ form.password1.id_for_label }}">Contraseña:</label><br>
                    <input type="password" name="{{ form.password1.name }}" id="{{ form.password1.id_for_label }}" class="mt-2 border-2 border-orange-200 px-2 py-1 rounded-md focus:outline-none focus:ring-orange-400 focus:border-orange-400 w-1/2" placeholder="Ingresa tu contraseña">
                    {% for error in form.password1.errors %}
                        <div class="error-message">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="{{ form.password2.id_for_label }}">Confirmar Contraseña:</label><br>
                    <input type="password" name="{{ form.password2.name }}" id="{{ form.password2.id_for_label }}" class="mt-2 border-2 border-orange-200 px-2 py-1 rounded-md focus:outline-none focus:ring-orange-400 focus:border-orange-400 w-1/2" placeholder="Confirma tu contraseña">
                    {% for error in form.password2.errors %}
                        <div class="error-message">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="mt-4">
                    <button class="bg-orange-100 px-4 py-1 border-2 border-orange-200 my-2 rounded-md hover:bg-orange-200 hover:shadow-md" type="submit" class="custom-button">Registrar</button>
                </div>
            </form>
        </div>
        </div>
    </div>
    

</body>
</html>