{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://kit.fontawesome.com/7d08ee079d.js" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="//code.tidio.co/kczpks5iafw7sips7x6vfgjynam1qzs0.js" async></script>
    <link rel="stylesheet" href="{% static 'css/style3.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_mascotas.css' %}">
    <link rel="website icon" href="{% static 'image/image_home/home.png' %}">
    <title>Mascotas</title>
</head>
<body class="bg-orange-50">
    <header>
        <nav class="bg-orange-200 container-fluid">
          <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex items-center justify-between h-16">
              <div class="flex items-center space-x-2">
              </div>
              <div class="flex items-center">
                <a href="{% url 'index' %}"><img class="h-8 w-8" src="{% static 'image/image_home/home.png'%}" alt="Logo"></a>
              </div>
            </div>
          </div>
        </nav>
      </header>
      <div class="basic-corgi-mode"></div>
    <body class="bg-orange-50">
        <div class="flex">
            <aside class="sidebar bg-orange-200 text-black h-screen fixed top-0 left-0 overflow-y-auto">
                <div class="p-4">
                    <h1 class="fs-5 font-semibold">¡Bienvenido a tu perfil, {{ user.username }}!</h1>
                    <ul class="mt-4"><br><br>
                        <li class="py-2 hover:bg-orange-300"> <a href="{% url 'perfil' %}"><i class="bi bi-person-fill-gear"></i><b> Tus Datos</b></a></li>
                        <li class="py-2 hover:bg-orange-300"> <a href="{% url 'agregar_mascotas' %}"><i class="fa-solid fa-dog"></i><b>  Tus mascotas</b></a></li>
                        <li class="py-2 hover:bg-orange-300"><a href="{% url 'ver_citas' %}"><i class="fa-sharp fa-solid fa-clipboard-list"></i> <b> Tus citas</a></li>
                        <li class="py-2 hover:bg-orange-300"><a href="{% url 'perfil_pqrs' %}"><i class="fa-solid fa-headset"></i>  tus PQRS</a></li>
                    </ul>
                </div>
            </aside>
            <div class="container" >
                <form method="post" action="" style="margin-left: 500px;">  
                    {% csrf_token %}
                    <div class="row mb-3">
                        <h1 class="mb-2 fs-5 text-center p-2 font-semibold"> ¡Hola {{ user.username }} agrega a tu mascota!</h1><br><br><br><br>
                        <h1 class="fs-5 font-semibold">Datos de tu mascota:</h1><br><br><br>
                        <div class="col-md-6">
                            <label for="{{ formulario.nombre.id_for_label }}" class="form-label"><b>Nombre</b></label>
                            <input type="text" name="{{ formulario.nombre.name }}" class="form-control form-control-lg" required value="{% if formulario.nombre.value %}{{ formulario.nombre.value }}{% endif %}">
                        </div>
                        <div class="col-md-6">
                            <label for="{{ formulario.raza.id_for_label }}" class="form-label"><b>Raza</b></label>
                            {{ formulario.raza }}
                        </div>
                    </div><br>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="{{ formulario.peso.id_for_label }}" class="form-label"><b>Peso en kg</b></label>
                            <input type="number" name="{{ formulario.peso.name }}" class="form-control form-control-lg" required value="{{ formulario.peso.value }}">
                        </div>
                        <div class="col-md-6">
                            <label for="{{ formulario.tamano.id_for_label }}" class="form-label"><b>Tamaño</b></label>
                            {{ formulario.tamano }}
                        </div>
                    </div><br>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="{{ formulario.edad.id_for_label }}" class="form-label"><b>Edad en meses</b></label>
                            <input type="number" name="{{ formulario.edad.name }}" class="form-control form-control-lg" required value="{{ formulario.edad.value }}">
                        </div>
                    </div><br>
                    <div class="d-grid gap-2">
                        <button class="p-2 border-2 border-black rounded-md hover:bg-orange-300 hover:text-black" type="submit">Guardar <i class="fa-regular fa-floppy-disk"></i></button>
                        <a class="p-2 border-2 border-black rounded-md hover:bg-orange-300 hover:text-black text-center" href="{% url 'agregar_mascotas' %}">
                            <b>Volver</b> <i class="fa-solid fa-arrow-rotate-left"></i>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>
</html>
