@keyframes move-up-down {
    0% {
        transform: translateY(500%);
    }
    100% {
        transform: translateY(500%);
    }
}

.basic-corgi-mode-pqrs {
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 9999;
    animation: move-up-down 10s ease-in-out infinite alternate;
    height: 150px;
    width: 150px;
    background-image: url('../image/image_home/gato_laptop2.gif');
    background-size: contain;
    background-repeat: no-repeat;
}
